.card-detail {
    background: #ffffff;
    display: flex;
    width: auto;
    height: auto;
    margin: 1rem;
    position: relative;
    justify-content: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    text-align: center;

  }

 

 