.counter-btn{
    background-color:#b0b9cf ;
    border-radius: 10px;
    width: 35px;
    height: 25px;
    margin: 5px;
    justify-content: center;
    border: none;
 
}

input { 
    text-align: center; 
}

.counter{
    padding: 20px;
}
